.popup__button-save {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #000;
  width: 238px;
  border: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-shadow: none;
  color: #fff;
  transition: opacity 0.2s linear;
  margin-top: 48px;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .popup__button-save {
    width: 358px;
    margin-bottom: 37px;
  }
}

.popup__button-save_delete {
  margin-top: 0;
}
