.card__like {
  display: flex;
  background-image: url(../../../images/LikeNoActive.svg);
  background-repeat: no-repeat;
  background-size: 22px 19px;
  width: 25px;
  height: 19px;
  border: 0;
  background-color: #fff;
  transition: opacity .2s linear;
}

.card__like:hover {
  cursor: pointer;
  opacity: .6;
}
