@import url(./vendor/normalize.css);

@import url(./vendor/fonts/inter.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__line/header__line.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__form-edit/popup__form-edit.css);
@import url(./blocks/popup/__input-name/popup__input-name.css);
@import url(./blocks/popup/__input-description/popup__input-description.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-save/_inactive/popup__button-save_inactive.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__block/popup__block.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_line_red/popup__input_line_red.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__item/profile__item.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-button/profile__edit_button_avatar.css);

@import url(./blocks/grid-cards/grid-cards.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__button-delete/card__button-delete.css);
@import url(./blocks/card/__overlay/card__overlay.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__block/card__block.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/card__like_active.css);
@import url(./blocks/card/__open-fullscreen/card__open-fullscreen.css);
@import url(./blocks/card/__like/card__like_container.css);
@import url(./blocks/card/__like/card__like_score.css);

@import url(./blocks/popup-FullScreen/popup-FullScreen.css);
@import url(./blocks/popup-FullScreen/__container-FullScreen/popup__container-FullScreen.css);
@import url(./blocks/popup-FullScreen/__img-FullScreen/popup__img-FullScreen.css);
@import url(./blocks/popup-FullScreen/__name-FullScreen/popup__name-FullScreen.css);
@import url(./blocks/popup-FullScreen/popup-FullScreen_opened.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

