.header {
  margin: 0 auto;
  max-width: 100%;
  padding: 28px 20px 41px 20px;
}



@media screen and (min-width: 1024px) {
  .header {
    max-width: 880px;
    padding: 32px 20px 36px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 45px 20px 40px 20px;
  }
}
